.centro-contair{
    position: relative;
    height: 100vh;
    width: 100%;
    background: rgb(255, 255, 255);
    transition: 1.5s;
}

/* clase agragada con un click */
.centro-contair1{
    position: relative;
    height: 86vh;
    top: 8%;
    width: 65%;
}

.img-2{
    position: relative;
    height: 105px;
    width: 100px;
    left: 1%;
    top: 10px;
}

.img-3{
    position: relative;
    float: right;
    height: 65px;
    width: 55px;
    left: 18%;
    transform: rotate(50deg);
    top: 2%;
    transition: 2s;
}

/* class que va ser agregada con un clip */
.img-3-3{
    left: 25%;
    height: 85px;
    width: 75px;
    animation-name: img3;
    animation-duration: 2s;
    transform: rotate(90deg);
    transition: 2s;
}

@keyframes img3{
    0%{
        transform: rotate(20deg);
    }
    100%{
        transform: rotate(90deg);
    }
}

.img-4{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 45%;
    float: right;
    right: -25px;   
    opacity: 0; 
    transition: 2s;
}

.img-4-4{
    opacity: 1;
    animation-name: img4;
    animation-duration: 2s;
    box-shadow: 3px 3px 7px rgb(255, 187, 0);
}

@keyframes img4{
    0%{
        right: -205px;
        transform: rotate(90deg);
    }
    100%{
        right: -25px;
        transform: rotate(0deg);
    }
}